body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../images/dms.jpg");
}
.bodyimage {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../images/dms.jpg");
}

.bodyimage2 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("./images/dms.jpg");
}
